# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  push_to_dockerhub:
    runs-on: ubuntu-latest
    steps:
      - name: check out repo
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push to Docker Push
        env:
          REPO: photo-app-be
          REPO2: nginx_server
        run: |
          docker build -t $REPO .
          docker tag $REPO:latest ${{ secrets.DOCKER_USERNAME }}/$REPO:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/$REPO

          docker build -t $REPO2 .
          docker tag $REPO2:latest ${{ secrets.DOCKER_USERNAME }}/$REPO2:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/$REPO2
      - name: Docker Pull and Run
        uses: appleboy/ssh-action@master
        with:
          host: ec2-18-188-245-18.us-east-2.compute.amazonaws.com
          username: ubuntu
          key: ${{ secrets.ACTION_PRIVATE_KEY }}
          envs: GITHUB_SHA
          script: |
            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin
            
            ids=$(docker ps -a -q)
            for id in $ids
            do
              echo "$id"
              docker stop $id && docker rm $id
            done

            ids=$(docker images ps -a -q)
            for id in $ids
            do
              echo "$id"
              docker rmi $id
            done

            docker pull ${{ secrets.DOCKER_USER }}/photo-app-be:latest
            docker pull ${{ secrets.DOCKER_USER }}/nginx_server:latest
            docker-compose up -d
